DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions.Learning" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions.Learning" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data.Learning" />
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" />
  <xs:complexType name="ArrayOfLearningPackageDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LearningPackageDescription" nillable="true" type="tns:LearningPackageDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLearningPackageDescription" nillable="true" type="tns:ArrayOfLearningPackageDescription" />
  <xs:complexType name="LearningPackageDescription">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" base="q1:EntityDescription">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data.Learning" minOccurs="0" name="ItemsToLearn" nillable="true" type="q2:ArrayOfLearningItemBase" />
          <xs:element minOccurs="0" name="MaxRank" type="xs:int" />
          <xs:element minOccurs="0" name="MinRank" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatCosts" nillable="true" type="q3:ArrayOfKeyValueOfECharacterStatintDKGBQfRt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LearningPackageDescription" nillable="true" type="tns:LearningPackageDescription" />
  <xs:complexType name="TraitToLearnDescription">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data.Learning" base="q4:LearningItemBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="Trait" nillable="true" type="q5:EntityDescription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitToLearnDescription" nillable="true" type="tns:TraitToLearnDescription" />
</xs:schema>