DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PropertyOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PropertyOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" type="xs:int" />
      <xs:element minOccurs="0" name="PureContent" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyOfint" nillable="true" type="tns:PropertyOfint" />
</xs:schema>