DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFreebie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Freebie" nillable="true" type="tns:Freebie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreebie" nillable="true" type="tns:ArrayOfFreebie" />
  <xs:complexType name="Freebie">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Choises" nillable="true" type="q1:ArrayOfArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Freebie" nillable="true" type="tns:Freebie" />
  <xs:complexType name="Dice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Constant" type="xs:int" />
      <xs:element minOccurs="0" name="DieNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DieSides" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dice" nillable="true" type="tns:Dice" />
</xs:schema>