DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" />
  <xs:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" minOccurs="0" name="MaxWounds" nillable="true" type="q1:PropertyOfint" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q2:ArrayOfKeyValueOfstringESkillMasteryDXh3s7kc" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stats" nillable="true" type="q3:ArrayOfKeyValueOfECharacterStatPropertyOfintueUCGX5G" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TestBonuses" nillable="true" type="q4:ArrayOfKeyValueOfstringPropertyOfintvEnDB1Vu" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" minOccurs="0" name="Wounds" nillable="true" type="q5:PropertyOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
</xs:schema>