DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Dice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Constant" type="xs:int" />
      <xs:element minOccurs="0" name="DieNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DieSides" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dice" nillable="true" type="tns:Dice" />
</xs:schema>