DarkHeresy/ServiceTester/Service References/HeresyService/HeresyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HeresyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" />
      <xsd:import schemaLocation="http://localhost:50305/Services/HeresyService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data.Traits" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeresyService_GetCharacterDescriptionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDescriptionList" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetCharacterDescriptionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDescriptionListResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetCharacterDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetCharacterDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetWorldDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldDescriptions" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetWorldDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetWorldDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetWorldDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetWorldDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetWorldDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetWorldDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetWorldDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetRaceDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceDescriptions" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetRaceDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetRaceDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetRaceDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetRaceDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetRaceDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetRaceDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetRaceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetClassDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDescriptions" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetClassDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetClassDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetClassDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetClassDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetClassDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetClassDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetClassDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetBackgroundDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackgroundDescriptions" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetBackgroundDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackgroundDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetBackgroundDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackgroundDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_GetBackgroundDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackgroundDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetBackgroundDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetBackgroundDescription" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_TryGetBackgroundDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetBackgroundDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_CreateCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacter" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_CreateCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectRace_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectRace" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectRaceResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_RerollStat_InputMessage">
    <wsdl:part name="parameters" element="tns:RerollStat" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_RerollStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RerollStatResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SkipReroll_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipReroll" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SkipReroll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipRerollResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWorld" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClass" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClassResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectBackground_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBackground" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SelectBackground_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectBackgroundResponse" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SkipBackground_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipBackground" />
  </wsdl:message>
  <wsdl:message name="IHeresyService_SkipBackground_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipBackgroundResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeresyService">
    <wsdl:operation name="GetCharacterDescriptionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetCharacterDescriptionList" message="tns:IHeresyService_GetCharacterDescriptionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetCharacterDescriptionListResponse" message="tns:IHeresyService_GetCharacterDescriptionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetCharacterDescription" message="tns:IHeresyService_GetCharacterDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetCharacterDescriptionResponse" message="tns:IHeresyService_GetCharacterDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorldDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetWorldDescriptions" message="tns:IHeresyService_GetWorldDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetWorldDescriptionsResponse" message="tns:IHeresyService_GetWorldDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorldDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetWorldDescription" message="tns:IHeresyService_GetWorldDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetWorldDescriptionResponse" message="tns:IHeresyService_GetWorldDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetWorldDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/TryGetWorldDescription" message="tns:IHeresyService_TryGetWorldDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/TryGetWorldDescriptionResponse" message="tns:IHeresyService_TryGetWorldDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetRaceDescriptions" message="tns:IHeresyService_GetRaceDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetRaceDescriptionsResponse" message="tns:IHeresyService_GetRaceDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetRaceDescription" message="tns:IHeresyService_GetRaceDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetRaceDescriptionResponse" message="tns:IHeresyService_GetRaceDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetRaceDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/TryGetRaceDescription" message="tns:IHeresyService_TryGetRaceDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/TryGetRaceDescriptionResponse" message="tns:IHeresyService_TryGetRaceDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetClassDescriptions" message="tns:IHeresyService_GetClassDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetClassDescriptionsResponse" message="tns:IHeresyService_GetClassDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetClassDescription" message="tns:IHeresyService_GetClassDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetClassDescriptionResponse" message="tns:IHeresyService_GetClassDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetClassDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/TryGetClassDescription" message="tns:IHeresyService_TryGetClassDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/TryGetClassDescriptionResponse" message="tns:IHeresyService_TryGetClassDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackgroundDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetBackgroundDescriptions" message="tns:IHeresyService_GetBackgroundDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetBackgroundDescriptionsResponse" message="tns:IHeresyService_GetBackgroundDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackgroundDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/GetBackgroundDescription" message="tns:IHeresyService_GetBackgroundDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/GetBackgroundDescriptionResponse" message="tns:IHeresyService_GetBackgroundDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetBackgroundDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/TryGetBackgroundDescription" message="tns:IHeresyService_TryGetBackgroundDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/TryGetBackgroundDescriptionResponse" message="tns:IHeresyService_TryGetBackgroundDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/CreateCharacter" message="tns:IHeresyService_CreateCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/CreateCharacterResponse" message="tns:IHeresyService_CreateCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectRace">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SelectRace" message="tns:IHeresyService_SelectRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SelectRaceResponse" message="tns:IHeresyService_SelectRace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RerollStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/RerollStat" message="tns:IHeresyService_RerollStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/RerollStatResponse" message="tns:IHeresyService_RerollStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipReroll">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SkipReroll" message="tns:IHeresyService_SkipReroll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SkipRerollResponse" message="tns:IHeresyService_SkipReroll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SelectWorld" message="tns:IHeresyService_SelectWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SelectWorldResponse" message="tns:IHeresyService_SelectWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SelectClass" message="tns:IHeresyService_SelectClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SelectClassResponse" message="tns:IHeresyService_SelectClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBackground">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SelectBackground" message="tns:IHeresyService_SelectBackground_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SelectBackgroundResponse" message="tns:IHeresyService_SelectBackground_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipBackground">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeresyService/SkipBackground" message="tns:IHeresyService_SkipBackground_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeresyService/SkipBackgroundResponse" message="tns:IHeresyService_SkipBackground_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHeresyService" type="tns:IHeresyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharacterDescriptionList">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetCharacterDescriptionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetCharacterDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorldDescriptions">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetWorldDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorldDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetWorldDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryGetWorldDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/TryGetWorldDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceDescriptions">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetRaceDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetRaceDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryGetRaceDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/TryGetRaceDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassDescriptions">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetClassDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetClassDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryGetClassDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/TryGetClassDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackgroundDescriptions">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetBackgroundDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackgroundDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/GetBackgroundDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryGetBackgroundDescription">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/TryGetBackgroundDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/CreateCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRace">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SelectRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RerollStat">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/RerollStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipReroll">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SkipReroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWorld">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SelectWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClass">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SelectClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBackground">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SelectBackground" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipBackground">
      <soap:operation soapAction="http://tempuri.org/IHeresyService/SkipBackground" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeresyService">
    <wsdl:port name="BasicHttpBinding_IHeresyService" binding="tns:BasicHttpBinding_IHeresyService">
      <soap:address location="http://localhost:50305/Services/HeresyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>