DarkHeresy/HeresyAuthService/Service References/InternalHeresyService/InternalHeresyService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" />
  <xs:complexType name="CharacterDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDescription">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" minOccurs="0" name="CreationStage" type="q1:ECreationStage" />
          <xs:element minOccurs="0" name="FatePoints" type="xs:int" />
          <xs:element minOccurs="0" name="Freebies" nillable="true" type="tns:ArrayOfFreebieDescription" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Groups" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
          <xs:element minOccurs="0" name="MaxFatePoints" type="xs:int" />
          <xs:element minOccurs="0" name="MaxWounds" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q3:ArrayOfKeyValueOfstringESkillMasteryDXh3s7kc" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stats" nillable="true" type="q4:ArrayOfKeyValueOfECharacterStatintDKGBQfRt" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TestBonuses" nillable="true" type="q5:ArrayOfKeyValueOfstringint" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Traits" nillable="true" type="q6:ArrayOfKeyValueOfstringTraitDataDescriptionWXNVI7me" />
          <xs:element minOccurs="0" name="Wounds" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CharacterDescription" nillable="true" type="tns:CharacterDescription" />
  <xs:complexType name="EntityDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDescription" nillable="true" type="tns:EntityDescription" />
  <xs:complexType name="ArrayOfFreebieDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreebieDescription" nillable="true" type="tns:FreebieDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreebieDescription" nillable="true" type="tns:ArrayOfFreebieDescription" />
  <xs:complexType name="FreebieDescription">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Choises" nillable="true" type="q7:ArrayOfArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreebieDescription" nillable="true" type="tns:FreebieDescription" />
  <xs:complexType name="TraitDataDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Trait" nillable="true" type="tns:EntityDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraitDataDescription" nillable="true" type="tns:TraitDataDescription" />
  <xs:complexType name="TraitDataDescriptionOfunsignedByte">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfunsignedByte" nillable="true" type="tns:TraitDataDescriptionOfunsignedByte" />
  <xs:complexType name="TraitDataDescriptionOfshort">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="short" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfshort" nillable="true" type="tns:TraitDataDescriptionOfshort" />
  <xs:complexType name="TraitDataDescriptionOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfint" nillable="true" type="tns:TraitDataDescriptionOfint" />
  <xs:complexType name="TraitDataDescriptionOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOflong" nillable="true" type="tns:TraitDataDescriptionOflong" />
  <xs:complexType name="TraitDataDescriptionOfunsignedShort">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfunsignedShort" nillable="true" type="tns:TraitDataDescriptionOfunsignedShort" />
  <xs:complexType name="TraitDataDescriptionOfunsignedInt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfunsignedInt" nillable="true" type="tns:TraitDataDescriptionOfunsignedInt" />
  <xs:complexType name="TraitDataDescriptionOfunsignedLong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedLong" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfunsignedLong" nillable="true" type="tns:TraitDataDescriptionOfunsignedLong" />
  <xs:complexType name="TraitDataDescriptionOffloat">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="float" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOffloat" nillable="true" type="tns:TraitDataDescriptionOffloat" />
  <xs:complexType name="TraitDataDescriptionOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfdouble" nillable="true" type="tns:TraitDataDescriptionOfdouble" />
  <xs:complexType name="TraitDataDescriptionOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfstring" nillable="true" type="tns:TraitDataDescriptionOfstring" />
  <xs:complexType name="TraitDataDescriptionOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TraitDataDescriptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TraitDataDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitDataDescriptionOfboolean" nillable="true" type="tns:TraitDataDescriptionOfboolean" />
  <xs:complexType name="WorldDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GroupDescription">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FateRolls" nillable="true" type="q8:ArrayOfKeyValueOfintDice4VxRXZ4N" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorldDescription" nillable="true" type="tns:WorldDescription" />
  <xs:complexType name="GroupDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="Freebies" nillable="true" type="tns:ArrayOfFreebieDescription" />
          <xs:element minOccurs="0" name="GroupTypeName" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q9:ArrayOfKeyValueOfstringESkillMasteryDXh3s7kc" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stats" nillable="true" type="q10:ArrayOfKeyValueOfECharacterStatDiceIqtKnE4l" />
          <xs:element minOccurs="0" name="Traits" nillable="true" type="tns:ArrayOfEntityDescription" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="WoundsBase" nillable="true" type="q11:Dice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupDescription" nillable="true" type="tns:GroupDescription" />
  <xs:complexType name="ArrayOfEntityDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityDescription" nillable="true" type="tns:EntityDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityDescription" nillable="true" type="tns:ArrayOfEntityDescription" />
  <xs:complexType name="RaceDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GroupDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RaceDescription" nillable="true" type="tns:RaceDescription" />
  <xs:complexType name="ClassDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GroupDescription">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatCosts" nillable="true" type="q12:ArrayOfKeyValueOfECharacterStatintDKGBQfRt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassDescription" nillable="true" type="tns:ClassDescription" />
  <xs:complexType name="BackgroundDescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GroupDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundDescription" nillable="true" type="tns:BackgroundDescription" />
</xs:schema>