DarkHeresy/HeresyAuthService/Service References/InternalHeresyService/InternalHeresyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" />
  <xs:element name="GetCharacterDescriptionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q1:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterDescriptionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCharacterDescriptionListResult" nillable="true" type="q2:ArrayOfKeyValueOfstringCharacterDescriptionWXNVI7me" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q3:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="GetCharacterDescriptionResult" nillable="true" type="q4:CharacterDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWorldDescriptionsResult" nillable="true" type="q5:ArrayOfKeyValueOfstringWorldDescriptionWXNVI7me" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="GetWorldDescriptionResult" nillable="true" type="q6:WorldDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetWorldDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetWorldDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetWorldDescriptionResult" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="world" nillable="true" type="q7:WorldDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRaceDescriptionsResult" nillable="true" type="q8:ArrayOfKeyValueOfstringRaceDescriptionWXNVI7me" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="GetRaceDescriptionResult" nillable="true" type="q9:RaceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetRaceDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetRaceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetRaceDescriptionResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="race" nillable="true" type="q10:RaceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClassDescriptionsResult" nillable="true" type="q11:ArrayOfKeyValueOfstringClassDescriptionWXNVI7me" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="GetClassDescriptionResult" nillable="true" type="q12:ClassDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetClassDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetClassDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetClassDescriptionResult" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="c" nillable="true" type="q13:ClassDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBackgroundDescriptionsResult" nillable="true" type="q14:ArrayOfKeyValueOfstringBackgroundDescriptionWXNVI7me" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="GetBackgroundDescriptionResult" nillable="true" type="q15:BackgroundDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetBackgroundDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetBackgroundDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetBackgroundDescriptionResult" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HeresyCore.Descriptions" minOccurs="0" name="c" nillable="true" type="q16:BackgroundDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q17:Token" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q18:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="raceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectRaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RerollStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q19:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" minOccurs="0" name="stat" type="q20:ECharacterStat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RerollStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RerollStatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipReroll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q21:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipRerollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SkipRerollResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q22:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="worldId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectWorldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q23:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q24:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backgroundId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBackgroundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectBackgroundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q25:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipBackgroundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SkipBackgroundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q26:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCharacterListResult" nillable="true" type="q27:ArrayOfKeyValueOfstringCharacterLusTfN7o" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="token" nillable="true" type="q28:Token" />
        <xs:element minOccurs="0" name="charId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" minOccurs="0" name="GetCharacterResult" nillable="true" type="q29:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorlds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWorldsResult" nillable="true" type="q30:ArrayOfKeyValueOfstringWorld4VxRXZ4N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="GetWorldResult" nillable="true" type="q31:World" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetWorldResult" type="xs:boolean" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="world" nillable="true" type="q32:World" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRacesResult" nillable="true" type="q33:ArrayOfKeyValueOfstringRace4VxRXZ4N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="GetRaceResult" nillable="true" type="q34:Race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetRaceResult" type="xs:boolean" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="race" nillable="true" type="q35:Race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClassesResult" nillable="true" type="q36:ArrayOfKeyValueOfstringClass4VxRXZ4N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="GetClassResult" nillable="true" type="q37:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetClassResult" type="xs:boolean" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="c" nillable="true" type="q38:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgrounds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBackgroundsResult" nillable="true" type="q39:ArrayOfKeyValueOfstringBackground4VxRXZ4N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackgroundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="GetBackgroundResult" nillable="true" type="q40:Background" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetBackgroundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetBackgroundResult" type="xs:boolean" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="c" nillable="true" type="q41:Background" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>