DarkHeresy/HeresyAuthService/Service References/InternalHeresyService/InternalHeresyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50305/Services/InternalHeresyService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="Character">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Enums" minOccurs="0" name="CreationStage" type="q1:ECreationStage" />
          <xs:element minOccurs="0" name="FatePoints" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Data" minOccurs="0" name="Freebies" nillable="true" type="q2:ArrayOfFreebie" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Groups" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" minOccurs="0" name="MaxFatePoints" nillable="true" type="q4:PropertyOfint" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HeresyCore.Entities.Properties" minOccurs="0" name="MaxWounds" nillable="true" type="q5:PropertyOfint" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q6:ArrayOfKeyValueOfstringESkillMasteryDXh3s7kc" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stats" nillable="true" type="q7:ArrayOfKeyValueOfECharacterStatPropertyOfintueUCGX5G" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TestBonuses" nillable="true" type="q8:ArrayOfKeyValueOfstringPropertyOfintvEnDB1Vu" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Traits" nillable="true" type="q9:ArrayOfKeyValueOfstringTraitData7_SLKmF3Z" />
          <xs:element minOccurs="0" name="Wounds" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
</xs:schema>